{% extends "base.html" %}
{% block main %}
    <main>
        {% include 'includes/page-header.html' %}
        <div class="container content">
            <div class="row">
                <div class="col-lg-2 mx-auto">
                    {% include 'includes/resources/sidebar.html' %}
                </div>
                <div class="col-lg-10 order-lg-first mx-auto">
                    <div class="content-header-wrapper">
                        {{ headerMarkdown }}
                    </div>
                    <div class="content-header-wrapper">
                        <h1>Latimer Core Resources</h1>

                        <p>This page contains an assortment of resources to help facilitate activities associated with
                            the Latimer Core standard.</p>

                    </div>
                    <div class="ref-wrapper">
                        <h2>SSSOM <span id="sssom-ref"></span></h2>

                        <p>SKOS Mappings metadata elements based on Simple Standard for Sharing Ontological Mappings
                            (SSSOM)
                        </p>

                        <p>
                            DiSSCo has developed three SSSOM mappings to other data standards: DwC-A, ABCD(EFG), DwC-DP.
                            For each of these there is a tsv available for the 0.4.0 version of the Digital Specimen and
                            Digital Media object.
                            The basis for this mapping is the logic developed in the DiSSCo Translator.
                        </p>
                        <ul>
                            <li><strong>Darwin Core Archive</strong>: <a
                                    href="https://schemas.dissco.tech/schemas/data-mapping/0.4.0/sssom_dwca.tsv">
                                https://schemas.dissco.tech/schemas/data-mapping/0.4.0/sssom_dwca.tsv</a>
                            </li>
                            <li><strong>Access to Biological Collection Data (ABCD) + Extension for Geosciences (EFG) </strong>: <a
                                    href="https://schemas.dissco.tech/schemas/data-mapping/0.4.0/sssom_abcdefg.tsv">
                                https://schemas.dissco.tech/schemas/data-mapping/0.4.0/sssom_abcdefg.tsv</a>
                            </li>
                            <li><strong>Darwin Core Data Package</strong>: <a
                                    href="https://schemas.dissco.tech/schemas/data-mapping/0.4.0/dwc_dp.tsv">
                                https://schemas.dissco.tech/schemas/data-mapping/0.4.0/sssom_dwc_dp.tsv</a>
                            </li>
                        </ul>

                        <p>
                            More information on the SSSOM standard can be found here:
                        </p>
                        <ul>
                            <li><strong>Specification</strong>: <a href="https://mapping-commons.github.io/sssom/">https://mapping-commons.github.io/sssom/</a>
                            </li>
                            <li><strong>Repository</strong>: <a href="https://github.com/mapping-commons/sssom">https://github.com/mapping-commons/sssom</a>
                            </li>
                            <li><strong>Citation</strong>: Nicolas Matentzoglu, James P Balhoff, Susan M Bello, Chris
                                Bizon, Matthew Brush, Tiffany J Callahan, Christopher G Chute, William D Duncan, Chris T
                                Evelo, Davera Gabriel, John Graybeal, Alasdair Gray, Benjamin M Gyori, Melissa Haendel,
                                Henriette Harmse, Nomi L Harris, Ian Harrow, Harshad B Hegde, Amelia L Hoyt, Charles T
                                Hoyt, Dazhi Jiao, Ernesto Jiménez-Ruiz, Simon Jupp, Hyeongsik Kim, Sebastian Koehler,
                                Thomas Liener, Qinqin Long, James Malone, James A McLaughlin, Julie A McMurry, Sierra
                                Moxon, Monica C Munoz-Torres, David Osumi-Sutherland, James A Overton, Bjoern Peters,
                                Tim Putman, Núria Queralt-Rosinach, Kent Shefchek, Harold Solbrig, Anne Thessen, Tania
                                Tudorache, Nicole Vasilevsky, Alex H Wagner, Christopher J Mungall, A Simple Standard
                                for Sharing Ontological Mappings (SSSOM), Database, Volume 2022, 2022, baac035, <a
                                        href="https://doi.org/10.1093/database/baac035">https://doi.org/10.1093/database/baac035</a>
                            </li>
                        </ul>

                    </div>

                    <div class="diagrams-wrapper">
                        <h2 id="diagrams">Diagrams</h2>
                        <h4 id="classDiagrams">Class Diagrams</h4>
                        <div class="diagram-wrapper">
                            <button class="js-toggle-fullscreen-btn toggle-fullscreen-btn"
                                    aria-label="Enter fullscreen mode" onclick="openFullscreen('C1');">
                                <svg class="toggle-fullscreen-svg" width="28" height="28" viewBox="-2 -2 28 28">
                                    <g class="icon-fullscreen-enter">
                                        <path d="M 2 9 v -7 h 7"/>
                                        <path d="M 22 9 v -7 h -7"/>
                                        <path d="M 22 15 v 7 h -7"/>
                                        <path d="M 2 15 v 7 h 7"/>
                                    </g>
                                    <g class="icon-fullscreen-leave">
                                        <path d="M 24 17 h -7 v 7"/>
                                        <path d="M 0 17 h 7 v 7"/>
                                        <path d="M 0 7 h 7 v -7"/>
                                        <path d="M 24 7 h -7 v -7"/>
                                    </g>
                                </svg>
                            </button>
                            <pre class="mermaid" id="green-class-diagram">
                            {{ classDiagram }}
                            </pre>
                        </div>
                    </div>
                    <h4 id="erDiagrams">Entity-Relationship Diagrams</h4>
                    <div class="diagram-wrapper">
                        <button class="js-toggle-fullscreen-btn toggle-fullscreen-btn"
                                aria-label="Enter fullscreen mode"
                                onclick="openFullscreen('A');">
                            <svg class="toggle-fullscreen-svg" width="28" height="28" viewBox="-2 -2 28 28">
                                <g class="icon-fullscreen-enter">
                                    <path d="M 2 9 v -7 h 7"/>
                                    <path d="M 22 9 v -7 h -7"/>
                                    <path d="M 22 15 v 7 h -7"/>
                                    <path d="M 2 15 v 7 h 7"/>
                                </g>

                                <g class="icon-fullscreen-leave">
                                    <path d="M 24 17 h -7 v 7"/>
                                    <path d="M 0 17 h 7 v 7"/>
                                    <path d="M 0 7 h 7 v -7"/>
                                    <path d="M 24 7 h -7 v -7"/>
                                </g>
                            </svg>
                        </button>
                        <pre class="mermaid" id="er-diagram-1">
                            {{ erDiagram }}
                        </pre>
                    </div>
                </div>
                <p><em>Built with Mermaid.js</em></p>

            </div>
        </div>
        </div>
        </div>
    </main>
{% endblock %}
